@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

body, html {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Noto Sans', 'sans-serif';
}

.fade-in {
    opacity: 1 !important;
}

#container > * {
    overflow: hidden;
}

#container {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    width: 200px;
    height: 40px;
    text-outline: 1px #000000;
    transition:
            opacity 0.5s ease-in-out,
            width 1s ease-in-out;
    opacity: 0;
}

#number {
    background-image: url('../img/frame.png');
    background-repeat: no-repeat;
    background-size: 200px;
    overflow: hidden;
    font-size: 42pt;
    width: 200px;
    height: 90px;
    padding-top: 7px;
    text-align: center;
    font-weight: bold;
}

#label {
    font-size: 20pt;
    text-outline: 1px #000000;
    padding-left: 34px;
    font-weight: 500;
}