@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

body, html {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Noto Sans', 'sans-serif';
}

.fade-in {
    opacity: 1 !important;
}

#container.fade-in {
    width: 1920px;
}

#container > * {
    overflow: hidden;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 1080px;

    transition:
            width 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
    opacity: 0;
    background-image: url('../img/lowerthird.png');
    overflow: hidden;
}

#container > div {
    position: absolute;
    color: #000000;
    left: 310px;
    font-weight: bold;
    width: 860px;
    overflow: hidden;
}

#title {
    top: 915px;
    font-size: 32pt;]
}

#subtitle {
    top: 965px;
    font-size: 24pt;
}